In [1]:
import pandas as pd
import numpy as np

In [3]:
cd /Users/yunfei/Desktop/GI05/SY09/td/TP01_Manipulation_de_donnees-enonce

/Users/yunfei/Desktop/GI05/SY09/td/TP01_Manipulation_de_donnees-enonce

In [10]:
X = pd.read_csv("./data/sy02-p2016.csv")

In [16]:
X.shape

<bound method DataFrame.info of         nom specialite  niveau statut dernier diplome obtenu  note median  \
0      Etu1         GI       4    UTC                    BAC          6.5
1      Etu2         GB       2    UTC                    DUT          6.5
2      Etu3        GSU       4    UTC                    BAC         14.0
3      Etu4        GSM       2    UTC                    BAC         13.0
4      Etu5         GI       4    UTC                    DUT          7.5
..      ...        ...     ...    ...                    ...          ...
291  Etu292         GB       2    UTC                    BTS          8.5
292  Etu293         GB       2    UTC                    BAC         13.5
293  Etu294        GSU       2    UTC                    BAC         12.0
294  Etu295        GSU       2    UTC                    DUT         12.0
295  Etu296        GSU       4    UTC                    BAC          9.5

    correcteur median  note final correcteur final  note totale resultat
0                Cor6         5.0             Cor4          5.6        F
1                Cor6        13.0             Cor4         10.4        E
2                Cor2        17.0             Cor3         15.8        B
3                Cor2        13.5             Cor3         13.3        C
4                Cor2        11.5             Cor3          9.9       Fx
..                ...         ...              ...          ...      ...
291              Cor5         9.0             Cor7          8.8       Fx
292              Cor4        18.0             Cor6         16.2        B
293              Cor5        15.0             Cor7         13.8        C
294              Cor6        18.0             Cor7         15.6        B
295              Cor5        10.5             Cor7         10.1        E

[296 rows x 11 columns]>

In [ ]:
X.info